<%= form_with(model: office, local: true) do |form| %>
  <% if office.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(office.errors.count, "error") %> prohibited this office from being saved:</h2>

      <ul>
      <% office.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>

  <div class="field">
    <%= form.label :office_name %>
    <%= form.text_field :name, id: :office_name %>
  </div>
   <br>

  <div class="field">
    <%= form.label :postcode %>
    <%= form.text_field :postcode, id: :office_postcode %>
  </div>

  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<br>
