<br>
<br>
<div class="card" style="width: 350px;">
  <div class="card-body">

    <%= bootstrap_form_with(model: office, local: true) do |form| %>
    <%= form.error_notification %>

      <%= form.group :office_name do %>
        <%= form.label :office_name%>
        <%= form.text_field  :name, id: :office_name %>
        <%= form.errors :postcode %>
      <% end %>

      <%= form.group :postcode do %>
        <%= form.label :postcode %>
        <%= form.text_field  :postcode, id: :office_postcode %>
        <%= form.errors :postcode %>
      <% end %>

      <%= form.submit 'Update Office', class: 'actions btn btn-primary' %>
    <% end %>
  </div>
</div>

